//navbar
nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
 }
  
  .nav {
    margin: 0 auto;
    background: white;
    color: #f0f0f0;
  }
  .nav a {
    display: block;
    padding: 0 10px;
    line-height: inherit;
    cursor: pointer;
  }
  .nav__menu {
    line-height: 45px;
    font-weight: 700;
    text-transform: none;
    font-size: 1.6em;
}
  .nav__menu-item {
    display: inline-block;
    position: relative;
  }
  .nav__menu-item:hover {
    background-color: #f2f2f2;
  }
  .nav__menu-item:hover .nav__submenu {
    display: block;
    z-index:1
}
  .nav__submenu {
    font-weight: 500;
    font-size: 0.7em;
    text-transform: none;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    text-align: left;
  }
  .nav__submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .nav a.current {
    display: block;
    padding: 0 10px;
    line-height: inherit;
    cursor: pointer;
    color: $highlight-color;
  }
