---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<a id="top"></a>
{% include head.html %}
<body>
<header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>

<!-- Use any element to open the sidenav -->
<span id="slid" onclick="topFunction()"><a href="#top"><i class="fa fa-arrow-up" style="color:#11929b" aria-hidden="true"></i></span>
<a href="{{site.baseurl}}/"><h1 class="header-title">{{site.title}}<i class="fa fa-paint-brush" style="color:#11929b" aria-hidden="true"></i> </h1></a>
<h2 class="header-tagline">I paint and I make things</h2>
<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__menu-item"><a href="{{site.baseurl}}/">Artwork</a></li>
    <li class="nav__menu-item"><a>Categories</a>
      <ul class="nav__submenu">
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/3dprinted/">#3Dprinted</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/cruisers/">#Cruisers</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/drawings/">#Drawings</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/exhibitions/">#Exhibitions</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/laserprinted/">#Laserprinted</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/murals/">#Murals</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/tags/paintings/">#Paintings</a></li>
        <li class="nav__submenu-item"> <a href="{{site.baseurl}}/archive/">Tag Archive</a></li>
      </ul>
      <li class="nav__menu-item"><a href="{{site.baseurl}}/dailylife/">DailyLife</a></li>
      <li class="nav__menu-item"><a href="{{site.baseurl}}/about/">About</a></li>
    </li>
  </ul>
</nav>
</header>
<div id="main">




{{content}}



{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
</body>
</html>
