---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<a id="top"></a>
{% include head.html %}
<body>
<header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>

<!-- Use any element to open the sidenav -->
<span id="slid" onclick="topFunction()"><a href="#top"><i class="fa fa-arrow-up" style="color:#11929b" aria-hidden="true"></i></span>
<a href="{{site.baseurl}}/"><h1 class="header-title">{{site.title}}<i class="fa fa-paint-brush" style="color:#11929b" aria-hidden="true"></i> </h1></a>
<h2 class="header-tagline">I paint and I make things</h2>
{% assign current = page.url | downcase | split: '/' %}
<nav class="nav">
  <ul class="nav__menu">
      <li class="nav__menu-item"><a href='/' {% if current[1] == null  %}class='current'{% endif %}>Home</a></li>
      <li class="nav__menu-item"><a href='/artwork' {% if current[1] == 'artwork'  %}class='current'{% endif %}>Artwork</a></li>
      <li class="nav__menu-item"><a href='/cruisers' {% if current[1] == 'cruisers' %}class='current'{% endif %}>Cruisers</a></li>
      <li class="nav__menu-item"><a href='/murals' {% if current[1] == 'murals' %}class='current'{% endif %}>Murals</a></li>
      <li class="nav__menu-item"><a href='/portfolio' {% if current[1] == 'portfolio' %}class='current'{% endif %}>Portfolio</a></li>
    </ul>
  </nav>


    </li>
  </ul>
</nav>
</header>
<div id="main">




{{content}}



{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
</body>
</html>
